<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<bean id="sonySpeaker" class="com.pcwk.ehr.SonySpeaker"/>
	
	<bean id="appleSpeaker" class="com.pcwk.ehr.AppleSpeaker" />
	
	<!-- lazy-init="true" : bean을 바로 생성하지 않고 호출하는 시점에 생성한다 -->
	<!-- scope = "singleton" : 객체가 한 개만 생성됨(default) -->
	<!-- scope = "prototype" : 객체가 호출될 때마다 새롭게 생성 -->
	<bean id="samsungTV" class="com.pcwk.ehr.SamsungTV" 
	      init-method="initMethod"
	      destroy-method="destroyMethod">
	      
	      <!-- 생성자 통한 주입 -->
	      <constructor-arg ref="appleSpeaker" index="0"/>
	      <constructor-arg value="200000000" index="1"/>
	</bean>	

</beans>
