/* 메인페이지 헤더 및 푸터 영역 css 시작 */
@font-face {
	font-family: 'Vitro_core'; /* 로고, 소제목 */
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vitro_pride'; /* 나머지 글꼴, font-weight: bolder 적용! */
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_pride.woff')
		format('woff');
	font-weight: bolder;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
}

body {
	min-width: 1680px; /* 최소 폭 */
	min-height: 1100px;
	font-family: Vitro_pride;
}

#header, #top {
	width: 100%;
	max-width: 1800px; /*최대 폭, 값 없으면 화면 축소시 가운데로 x */
	max-height: 1480px;
	margin: 0 auto 0;
	display: flex;
	position: relative;
}

#top {
	font-size: 120%;
	font-weight: bolder;
}

a, a:active {
	text-decoration: none;
	color: black;
}

#logo img {
	display: inline-block;
	max-height: 120px;
    
}

#logo a {
	display: inline-block;
}

.menu_left {
	float: left;
	flex-grow: 1;
	margin: 1% 0 0 1%;
}

.menu_right {
	display: flex;
	float: right;
	margin: 1% 1.5% 0 0;
}

.menu_left>ul, .menu_right>ul {
	list-style: none;
}

.menu_left li, .menu_right li {
	display: inline-block;
	margin-right: 10px;
}

#search>input {
	width: 100px;
	border: none;
	border-bottom: 1px solid black;
	background-color: rgba(0, 0, 0, 0);
}

#search>button {
	background: none;
	border: none;
}
/* 메인페이지 헤더 및 푸터 영역 css 끝 */

/* 결제 완료 후 */
.title{
    min-height: 10px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 200%;
    color: #424242;
}

.subtitle{
    min-height: 10px;
    display: flex;
    justify-content: center;
    margin: 1%;
    font-size: 200%;
    color: #424242;
}

.main{
    min-height: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.btn{
    width: 300px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 20px;
}
.btn{
    background: #424242;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn:hover {
    background: transparent;
    color: #424242;
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
}
.btn:before,
.btn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #424242;
    transition:400ms ease all;
}
.btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn:hover:before,
.btn:hover:after{
    width:100%;
    transition:800ms ease all;
}