@charset "UTF-8";

/* 메인페이지 헤더 및 푸터 영역 css 시작 */
@font-face {
	font-family: 'Vitro_core'; /* 로고, 소제목 */
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Vitro_pride'; /* 나머지 글꼴, font-weight: bolder 적용! */
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_pride.woff')
		format('woff');
	font-weight: bolder;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
}

body {
	min-width: 1680px; /* 최소 폭 */
	font-family: Vitro_pride;
}

#header, #top {
	width: 100%;
	max-width: 1800px; /* 최대 폭, 값 없으면 화면 축소시 가운데로 x */
	margin: 0 auto 0;
	display: flex;
	position: relative;
}

#top {
	font-size: 150%;
	font-weight: bolder;
}

a, a:active {
	text-decoration: none;
	color: black;
}

#logo img {
	display: inline-block;
	max-height: 140px;
}

#logo a {
	display: inline-block;
}

.menu_left {
	float: left;
	flex-grow: 1;
	margin: 1% 0 0 1%;
}

.menu_right {
	display: flex;
	float: right;
	margin: 1% 1.5% 0 0;
}

.menu_left>ul, .menu_right>ul {
	list-style: none;
}

.menu_left li, .menu_right li {
	display: inline-block;
	margin-right: 10px;
}

#search>input {
	width: 100px;
	border: none;
	border-bottom: 1px solid black;
	background-color: rgba(0, 0, 0, 0);
}

#search>button {
	background: none;
	border: none;
}

#footer {
	width: 100%;
	display: inline-block;
    text-align: center;
/* 	display: flex; */
/*     justify-content: center; */
    flex-direction: row;
}

.util, .ft_con, .ft_bottom {
    border-top: 1px solid #424242;
}

.util_inner>ul {
	list-style: none;
	display: block;
}

.menu>li {
	display: inline-block;
}


/* 메인페이지 헤더 및 푸터 영역 css 끝 */

/* 베스트 상품 영역*/
#best {/* 영역만 잡아둔 상태 */
    background: orange;
    padding-bottom: 600px;
}

#best>h2 {
    font-family: Vitro_core;
    font-size: 200%;
    text-align: center;
}


/* 메인페이지 슬라이드 영역*/
.main_slider {
  text-align: center;
  margin-bottom: 3%;
  z-index: auto;
}

.cate_img {
	display: flex;
	justify-content: space-around;
/* 	padding-top: 20%; */
}

.cate_img img {
/* 	display: inline-block; */
	max-height: 300px;
}

.cate_img>ul {
	list-style: none;
}



